#body {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
        "header header"
        "nav body"
        "footer body"
}
#header {
    grid-area: header;
    background-color: #006600;
    height: 100%;
    width: 100%;
    text-align: center;
}
#projnav {
    display:  flex;
    flex-direction: column;
    align-items: center;
    grid-area: nav;
    height: 100%;
    width: 100%;
    background-color: #009900;
}
#projinfo {
    grid-area: body;
    background-color: #00cc44;
    height: 100%;
    width:  100%;
}
#contact {
    grid-area: footer;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    background-color: #006600;
    height: 150%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projlinks {
    color: black;
    display: block;
    width: 100%;
    height: 10%;
    font-size: 125%;
    text-decoration: none;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.projlinks:hover {
    background-color: #00cc44;
}
.contactli {
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    display: flex;
    flex direction: column;
    align-items: center;
    color: black;
}
#logo {
    height: 75%;
    position: relative;
    top: 20px;
}